.DS_Store
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
*.egg-info/

# Unit test / coverage reports
.tox/
.coverage
htmlcov

# mypy
.mypy_cache/

# IDEs
.idea
.spyderproject
.spyproject
.ropeproject

# js
node_modules
.rpt2_cache
js/dist
coverage
