.DS_Store
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
*.egg-info/
build/
dist/

# Unit test / coverage reports
.tox/
tests/coverage_html/
tests/.coverage

# mypy
.mypy_cache/

# IDEs
.idea
.spyderproject
.spyproject
.ropeproject

# js
node_modules
.rpt2_cache
js/dist
coverage
